<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bigsai.recommend.dao.userMapper" >

    <update id="updatePreList" parameterType="java.util.List">
        update users
        set pre_list = case username
        <foreach collection="list" item="emp" separator=";">
            when #{emp.username} then #{emp.preList}
        </foreach>
        end
        <!--        where news_id in-->
        <!--        <foreach collection="map.entrySet()" index="key" separator="," open="(" close=")">-->
        <!--            #{key}-->
        <!--        </foreach>-->
    </update>

</mapper>